.profile__image {
    max-width: 127px;
    border-radius: 100%;
    position: relative;
    right: 25px;
    bottom: 5px;
  }

  @media screen and (max-width: 713px){
    .profile__image{
      right: 0;
      bottom: 11px;
    }
  }
