@import url(./vendor/fonts/inter.css);

@keyframes popup__container{
  from{
    opacity: 0;
    transform: translate(0, -60px, 0);
  }
  to{
    opacity: 1;
    transform: translate(0, 0, 0);
  }
}

.display .popup__container{
  animation: modal 0.3s;
}

.page {
  max-width: 1280px;
  height: auto;
  background-color: #000;
  color: #fff;
  margin: auto;
  font-family: 'Inter', sans-serif;
}

.header-container__title {
  font-weight: normal;
  font-size: 42px;
  margin: 0 907px auto 200px;
  padding-top: 48px;
}

.header-container__title_break {
  position: relative;
  bottom: 53px;
  left: 335px;
  font-size: 1rem;
  max-width: 22%;
  margin: 0;
}

.profile{
  display: grid;
  grid-template-columns: 0.13fr 1fr;
  grid-gap: 3.7px;
}

.profile__author {
  font-weight: normal;
  grid-area: 'author';
  margin-top: 94px;
  margin-bottom: 0;
  font-size: 42px;
  line-height: 94%;
  vertical-align: top;
  width: 328px;
}

.profile__subtitle{
  grid-area: 'subtitle';
  margin: 0;
  cursor: pointer;
  max-width: 61px;
}

.profile__subtitle:hover{
  opacity: 0.5;
}

.profile__content-description{
  display: flex;
  flex-direction: column;
  max-width: 737px;
}

.profile__description {
  display: flex;
  
}

.profile__image {
  grid-area: 'image';
  max-width: 127px;
  border-radius: 100%;
  padding: 16px;
  margin: 36px 0 47px 178px;
}

.profile__button {
  grid-area: buttonPlus;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  width: 150px;
  height: 50px;
  margin: 102px 0 0 27%;
  font-size: 31px;
  cursor: pointer;
}

.profile__button:hover{
  opacity: 0.6;
}

.line {
  width: 69%;
  background-color: #545454;
  height: 2px;
  border-style: none;
  margin: 0 auto;
}

.para-nomear {
  display: flex;
  column-gap: 1%;
  height: 273px;
  border-top: 1px solid #545454;
  margin: 0 200px;
}

#canvas {
  grid-area: 'square';
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  margin: 103px 0 18px 0;
  cursor: pointer;
}

#canvas:hover{
  opacity: 0.6;
}

.profile__edit{
  width: 13px;
  height: 13px;
  margin: 6px;
  color: #545454;
}

.profile.button{
  cursor: pointer;
  grid-area: 'buttonPlus';
}

.profile__button-add{
  width: 150px;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  font-size: 45px;
  font-style: normal;
  font-weight: 200;
  padding: 0;
  border-radius: 2px;
  cursor: pointer;
  padding: 0;
  margin-right: 190px;
  border: none;
}

.profile__button-add:hover{
  opacity: 0.7;
}

.profile__button-edit{
  cursor: pointer;
  border: none;
  background-color: #000;
  margin: auto;
}

.profile__button-edit:hover{
  opacity: 0.7;
}

.profile__edit{
  cursor: pointer;
}

.profile__edit:hover{
  opacity: 0.7;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  margin: auto 200px;
  gap: 16px;
}

.cards__content {
  display: flex;
  flex-direction: column;
  width: 282px;
  height: 361px;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  
}

.cards__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  ;
}

.cards__like-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 880px;
  height: 79px;
}

.cards__title {
  margin-left: 21px;
  height: 34px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cards__like {
    height: 19px;
    margin-right: 18px;
    cursor: pointer;
}

.cards__like:hover{
  opacity: 0.6;
}

.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  max-width: 19%;
  margin: 68px auto 0 200px;
  padding-bottom: 60px;
}

.popup__container{
  position: relative;
  width: 430px;
  height: 330px;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.popup__about{
  border: 0;
  width: 358px;
  height: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #000;
  opacity: 0.5;
  margin-left: 36px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  padding: 0;
  margin-top: 50px;
}

.popup__about:focus{
  outline-color: gray;
}

.popup__box{
  border: 0;
  margin: 0;
  padding: 0;
}

.popup__close{
  right: -40px;
  cursor: pointer;
  top: -40px;
  padding: 0;
  position: absolute;
}

.popup__close:hover{
  opacity: 0.6;
}

.popup__form{
  height: auto;
}

.popup__name{
  box-sizing: border-box;
  border: 0;
  width: 358px;
  height: 20px;
  border-bottom: 1px solid #000;
  opacity: 0.7;
  margin-left: 36px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  padding: 0;
  margin-top: 50px;
}

.popup__name:hover{
  outline-color: gray;
}

.popup__save{
  width: 358px;
  height: 50px;
  margin: 48px 36px 36px;
  background-color: #000;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

.popup__save:hover{
  opacity: 0.8;
}

.popup__title{
  padding-top: 24px;
  font-size: 24px;
  color: #000;
  font-style: normal;
  font-weight: 900;
  line-height: 1.2;
  padding-left: 36px;
  margin: 0;
}

.popup {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.popup.display{
  display: flex;
}

@media screen and (max-width: 1023px){
  .profile__button{
    margin: 102px 0 0 7%;
  }
}

@media screen and (max-width: 995px){
  
  .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile__author{
    display: flex;
    margin: 0 auto 3px;
  }

  .profile__image{
    max-width: 127px;
    border-radius: 100%;
    padding: 16px;
    margin: 36px 0 47px 0;
  }

  .profile__content-description{
    display: flex;
    flex-direction: column;
    width: 521px;
  }
  
  #canvas{
    grid-area: 'square';
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    margin: 10px 0 18px 0;
    cursor: pointer;
}
  .profile__button{
    grid-area: buttonPlus;
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    width: 150px;
    height: 50px;
    margin: 9px 0 0 3%;
    font-size: 31px;
    cursor: pointer;
  }

  .profile__subtitle{
    grid-area: 'subtitle';
    margin: 0 0 19px;
    cursor: pointer;
    max-width: 61px;
  }

  .cards{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    margin: auto 173px;
    gap: 16px; */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    align-items: center;
    margin: auto;
    gap: 16px;
  }

}

@media screen and (max-width: 713px){
  .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile__image{
    max-width: 127px;
    border-radius: 100%;
    padding: 16px;
    margin: 36px 0 0 0;
  }

  .profile__content-description{
    display: flex;
    flex-direction: column;
    max-width: 737px;
  }

  .profile__description{
    display: grid;
    grid-template-areas:
        'author square'
        'buttonPlus buttonPlus';
    width: 57%;
    margin: auto;

  }

  .profile__author{
    font-weight: normal;
    grid-area: 'author';
    margin-top: 27px;
    margin-bottom: 0;
    font-size: 33px;
    line-height: 94%;
    vertical-align: top;
    width: 249px;
  }

  #canvas{
    grid-area: 'square';
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    margin: 38px 0 0 0;
    cursor: pointer;
  }

  .profile__button{
    grid-area: buttonPlus;
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    width: 225px;
    height: 50px;
    margin: 34px 0 0 13%;
    font-size: 31px;
    cursor: pointer;
    
  }

  .profile__subtitle{
    position: relative;
    bottom: 82px;
    left: 230px;
    margin: 0 0 20px;
    cursor: pointer;
    max-width: 61px;
  }
}


@media screen and (max-width: 528px){
  .header-container__title{
    font-weight: normal;
    font-size: 42px;
    margin: 0px auto auto 160px;
    padding-top: 48px;
  }

  .header-container__title_break{
    position: relative;
    bottom: 50px;
    left: 294px;
    font-size: 1rem;
    max-width: 22%;
    margin: 0;
  }

  .profile__content-description {
    display: flex;
    flex-direction: column;
    width: 522px;
  }

  .profile__description{
    margin: auto 20%;
  }

  #canvas{
    margin: 38px 0 0 10px;
  }
}

@media screen and (max-width: 443px){
  .header-container__title {
    font-weight: normal;
    font-size: 42px;
    margin: 0px auto auto 102px;
    padding-top: 48px;
  }

  .header-container__title_break {
    position: relative;
    bottom: 50px;
    left: 236px;
    font-size: 1rem;
    max-width: 22%;
    margin: 0;
  }

  .profile__description {
    display: grid;
    grid-template-areas:
        'author square'
        'buttonPlus buttonPlus';
    width: 57%;
    margin: auto 10%;
  }

  .profile__author {
    font-weight: normal;
    grid-area: 'author';
    margin-top: 27px;
    margin-bottom: 0;
    font-size: 33px;
    line-height: 94%;
    vertical-align: top;
    width: 249px;
  }

  #canvas {
    grid-area: 'square';
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    margin: 38px 0 0 11px;
    cursor: pointer;
  }

  .profile__subtitle {
    position: relative;
    bottom: 82px;
    left: 152px;
    margin: 0 0 20px;
    cursor: pointer;
    max-width: 61px;
  }

  .profile__content-description {
    display: flex;
    flex-direction: column;
    width: 375px;
  }

}
