.header {
    margin-top: min(
      45px,
      calc(3.04vw + 18.29px)
    );
  
    height: min(
      74px,
      calc(3.21vw + 45.71px)
    );
  
    border-bottom: 1px solid rgba(84, 84, 84, 0.7); 
    box-sizing: border-box;
  }
  