.popup__close{
    right: -40px;
    cursor: pointer;
    top: -40px;
    padding: 0;
    position: absolute;
  }
  
  .popup__close:hover{
    opacity: 0.6;
  }

  @media screen and (max-width: 713px){
    .popup__close{
      right: 1%;
      top: -54px;
    }
  }
  