.profile__description {
    display: flex;
    flex-direction: column;
    row-gap: 11px;
  }

  @media screen and (max-width: 713px){
    .profile__description{
      row-gap: 17px;
      align-items: center;
    }
  }

  @media screen and (max-width: 528px){
    .profile__description{
      align-items: center;     
  }
}
